<img src="assets/bg.svg" class="bg-secondary" aria-hidden="true" alt="bg" />
<app-slide class="page-container">
  <h1 class="main-title">
    CSS basics
    <small>Vanlige problemer og hvordan man kan fikse de</small>
  </h1>
</app-slide>

<app-slide class="page-container">
  <div class="image-container">
    <img src="assets/profile.jpg" alt="profile" />
  </div>
  <span>
    <h1 class="title">Erik Tallang</h1>
    <p class="sub-title">Web- and design-guy</p>
  </span>
</app-slide>

<app-slide class="page-container">
  <div class="image-container">
    <img src="assets/github.png" alt="Github logo" />
  </div>
  <h1 class="resource-title">eTallang/css-tricks</h1>
</app-slide>
