<app-slide class="centered">
  <img src="assets/ilied.gif" alt="I lied" />
</app-slide>

<app-slide>
  <h1>Align items</h1>
</app-slide>

<app-slide>
  <h1>Align the text horizontally</h1>
  <div class="flex-container">
    <p class="large-font">Large font</p>
    <p class="small-font">Small font</p>
    <p class="margin-font">Small font</p>
    <p class="padding-font">Padding font</p>
  </div>
</app-slide>

<app-slide>
  <h1>There's got to be a better way</h1>
  <video src="assets/sad.mp4" autoplay loop></video>
</app-slide>

<app-slide>
  <h1>align-items: baseline</h1>
  <img src="assets/say-hello.gif" alt="Say hello">
</app-slide>
