<div class="full-slide centered" appAnchorElement>
  <img src="assets/ilied.gif" alt="I lied" />
</div>

<div class="full-slide" appAnchorElement>
  <h1>Align items</h1>
</div>

<div class="full-slide" appAnchorElement>
  <h1>I want to align all fonts</h1>
  <div class="flex-container">
    <p class="large-font">Large font</p>
    <p class="small-font">Small font</p>
    <p class="margin-font">Small font</p>
    <p class="padding-font">Padding font</p>
  </div>
</div>

<div class="full-slide" appAnchorElement>
  <h1>There's got to be a better way</h1>
  <video src="assets/sad.mp4" autoplay loop></video>
</div>

<div class="full-slide" appAnchorElement>
  <h1>align-items: baseline</h1>
  <img src="assets/say-hello.gif" alt="Say hello">
</div>
