<div slide>
  <h1>The scenario</h1>
  <div class="outer-container">
    Container
    <div class="inner-container">
      Inner content
    </div>
  </div>
</div>

<div slide>
  <h1>I didn't want this</h1>
  <video autoplay loop src="assets/triggered.mp4"></video>
</div>

<div slide>
  <h1>What's going on?</h1>
  <div class="sub-section">
    <pre>box-sixing: content-box;</pre>
    <p>Calculated width = 70vw + 200px</p>
  </div>
  <div class="sub-section">
    <pre>box-sixing: border-box;</pre>
    <p>Calculated width = (70vw - 200px) + 200px</p>
  </div>
</div>
